//
// Tables
// ------
//

table {
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
  display: inline-block;
  margin: 0 0 $text-margin;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  @include respond-to('tablet-landscape') {
    overflow-x: hidden;
    white-space: normal;
  }

  th,
  td {
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding: .5em .75em;
    text-align: left;
  }

  th {
    background-color: $th-background-color;
    border-color: $th-background-color;
    color: $th-text-color;
    font-weight: 700;
  }
}
